<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Raad</title>
    <link rel="icon" href="./images/Logo.png" type="image/png">
    <link rel="stylesheet" href="./styles/reset.css">
    <link rel="stylesheet" href="./styles/mediaquery.css">
    <link rel="stylesheet" href="./styles/font.css">
    <link rel="stylesheet" href="./styles/index.css">
</head>

<body>

    <div class="container">

        <div class="menu">
            <div class="menu-items">
                <a href="#header">
                    <div class="menu-item menu-select">
                        <img class="menu-item-img" src="./images/menu-home.png" alt="">
                    </div>
                </a>
                <a href="./pages/404.html">
                    <div class="menu-item">
                        <img class="menu-item-img" src="./images/menu-library.png" alt="">
                    </div>
                </a>
                <a href="./pages/404.html">
                    <div class="menu-item">
                        <img class="menu-item-img" src="./images/menu-add.png" alt="">
                    </div>
                </a>
            </div>

            <div class="menu-search">
                <a href="./pages/404.html">
                    <div class="menu-item">
                        <img class="menu-item-img" src="./images/menu-search.png" alt="">
                    </div>
                </a>
            </div>
        </div>

        <header id="header">
            <div class="header-section">
                <div class="item">
                    <h1 id="header-title" class="header-title"></h1>
                </div>

                <div class="item">
                    <a href="#">
                        <p class="header-logo">Raad</p>
                    </a>
                </div>

                <div class="item">
                    <a href="./pages/auth.html">
                        <div class="header-link">
                            <img class="header-link_img" src="./images/header-profile.png" alt="">
                        </div>
                    </a>
                </div>
            </div>

            <div class="header-cards">
                <a href="./pages/music-pages/Dracula.html">
                    <div class="header-card">
                        <img class="header-card_img" src="./images/header-poster_1.jpg" alt="">
                        <div class="header-card_title_container">
                            <p class="header-card_title">Dracula</p>
                        </div>
                    </div>
                </a>

                <a href="./pages/music-pages/Kheyli_Vaghte.html">
                    <div class="header-card">
                        <img class="header-card_img" src="./images/header-poster_2.jpg" alt="">
                        <div class="header-card_title_container">
                            <p class="header-card_title">Keyli Vaghte</p>
                        </div>
                    </div>
                </a>

                <a href="./pages/music-pages/Touch_The_Sky.html">
                    <div class="header-card">
                        <img class="header-card_img" src="./images/header-poster_3.png" alt="">
                        <div class="header-card_title_container">
                            <p class="header-card_title">Touch The Sky</p>
                        </div>
                    </div>
                </a>

                <a href="./pages/music-pages/Bodies.html">
                    <div class="header-card">
                        <img class="header-card_img" src="./images/header-poster_4.jpg" alt="">
                        <div class="header-card_title_container">
                            <p class="header-card_title">Bodies</p>
                        </div>
                    </div>
                </a>

                <a href="./pages/music-pages/Adam_and_Eve.html">
                    <div class="header-card">
                        <img class="header-card_img" src="./images/header-poster_5.png" alt="">
                        <div class="header-card_title_container">
                            <p class="header-card_title">Adam and eve</p>
                        </div>
                    </div>
                </a>

                <a href="./pages/music-pages/The _Search.html">
                    <div class="header-card">
                        <img class="header-card_img" src="./images/header-poster_6.jpeg" alt="">
                        <div class="header-card_title_container">
                            <p class="header-card_title">The Search</p>
                        </div>
                    </div>
                </a>
            </div>
        </header>

        <main>
            <div class="main-section_1">
                <h2 class="section-title">Recommendation</h2>
                <div class="section-items">
                    <div class="section-container">
                        <div class="item">
                            <img class="section-container_img" src="./images/main-sec1-poster_1.jpg" alt="">
                            <div class="secteion-text">
                                <p class="section-container-category">Kino</p>
                                <a href="./pages/music-pages/Хочу_перемен.html">
                                    <h2 class="section-container-title">Хочу перемен</h2>
                                </a>
                                <p class="section-container-caption">The Sound of Change</p>
                            </div>
                        </div>
                        <a href="./pages/music-pages/Хочу_перемен.html">
                            <img class="section-btn" src="./images/play-icon_.png" alt="">
                        </a>
                    </div>

                </div>
            </div>

            <div class="main-section_2">
                <h2 class="section-2_title">Picked for you</h2>
                <div class="section-2_items">
                    <div class="section-2_cards">
                        <a href="./pages/music-pages/Gnx.html">
                            <div class="section-2_card">
                                <img class="card_img" src="./images/main-sec2-poster_1.jpg" alt="">
                                <h3 class="card_title">GNX</h3>
                                <p class="card_caption">Kendrick Lamar</p>
                            </div>
                        </a>
                        <a href="./pages/music-pages/ICEMAN.html">
                            <div class="section-2_card">
                                <img class="card_img" src="./images/main-sec2-poster_2.jpg" alt="">
                                <h3 class="card_title">ICEMAN</h3>
                                <p class="card_caption">Drake</p>
                            </div>
                        </a>
                        <a href="./pages/music-pages/Kamikaze.html">
                            <div class="section-2_card">
                                <img class="card_img" src="./images/main-sec2-poster_3.jpg" alt="">
                                <h3 class="card_title">Kamikaze</h3>
                                <p class="card_caption">Eminem</p>
                            </div>
                        </a>
                        <a href="./pages/music-pages/UTOPIA.html">
                            <div class="section-2_card">
                                <img class="card_img" src="./images/main-sec2-poster_4.jpeg" alt="">
                                <h3 class="card_title">The Search</h3>
                                <p class="card_caption">NF</p>
                            </div>
                        </a>
                    </div>

                    <div class="section-2_btn">
                        <a class="section-2_btn" href="">Show All</a>
                    </div>
                </div>
            </div>

            <div class="main-section_3">
                <h2 class="section-3_title">New releases for you</h2>
                <div class="section-3_profile">
                    <img class="section-3_profile_img" src="./images/main-sec3-poster_1.jpg" alt="">
                    <div class="secteion-3-profile_container">
                        <p class="section-3_profile_title">New release from</p>
                        <h2 class="section-3_profile_caption">Arctic Monkeys</h2>
                    </div>
                </div>
                <div class="section-3_container">
                    <div class="secteion-3_items">
                        <img class="section-3_img" src="./images/main-sec3-poster_2.jpeg" alt="">
                        <div class="secteion-3-text">
                            <a href="./pages/music-pages/Do_I_Wanna_Know.html">
                                <h3 class="secteion-3-text_title">Do I Wanna Know?</h3>
                            </a>
                            <p class="secteion-3-text_caption">Single . Arctic Monkeys</p>
                        </div>
                    </div>

                    <div class="secteion-3_btn">
                        <a href="./pages/music-pages/Do_I_Wanna_Know.html">
                            <img class="section-3_btn_link" src="./images/play-icon_.png" alt="">
                        </a>
                    </div>
                </div>

            </div>

            <div class="main-section_4">
                <div class="section-4_card">
                    <div>
                        <h2 class="section-4_title">Upgrade to Premium</h2>
                        <p class="section-4_caption">Stop letting ads interrupt your flow. Upgrade now to enjoy
                            ad-free
                            music, high-fidelity sound quality, and the freedom to download your favorite playlists
                            for
                            offline listening anywhere, anytime.</p>
                    </div>
                    <a class="section-4_btn" href="">Get Premium</a>
                </div>
            </div>

            <div class="main-section_5">
                <h2 class="section-5_title">Start browsing</h2>

                <div class="section-5_cards">
                    <div class="section-5_card sec5_card_1">
                        <h3 class="section-5_card_title">New Year. New You. New Music.</h3>
                        <p class="section-5_card_caption">Dive into Discover Weekly and hear the thing that will
                            become
                            your new thing.</p>
                    </div>
                    <div class="section-5_card sec5_card_2">
                        <h3 class="section-5_card_title">Billions Club Live with The Weeknd...</h3>
                        <p class="section-5_card_caption">In the first-ever Billions Club Live concert film, The
                            Weeknd
                            delivers an unforgettable one-night...</p>
                    </div>
                </div>

                <div class="section-5_btn">
                    <a class="section-5_btn" href="">Show All</a>
                </div>
            </div>
        </main>

        <footer>
            <a href="#header"><img class="footer-image" src="./images/footer.png" alt=""></a>
        </footer>
    </div>

    <script type="text/javascript" src="./js/index.js">
    </script>

</body>

</html>