<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Raad</title>
    <link rel="icon" href="../../images/Logo.png" type="image/png">
    <link rel="stylesheet" href="../../styles/reset.css">
    <link rel="stylesheet" href="../../styles/mediaquery.css">
    <link rel="stylesheet" href="../../styles/font.css">
    <link rel="stylesheet" href="../../styles/player.css">
</head>

<body>
    <div class="container">

        <div class="menu">
            <div class="menu-items">
                <a href="../../index.html">
                    <div class="menu-item menu-select">
                        <img class="menu-item-img" src="../../images/menu-home.png" alt="">
                    </div>
                </a>
                <a href="../404.html">
                    <div class="menu-item">
                        <img class="menu-item-img" src="../../images/menu-library.png" alt="">
                    </div>
                </a>
                <a href="../404.html">
                    <div class="menu-item">
                        <img class="menu-item-img" src="../../images/menu-add.png" alt="">
                    </div>
                </a>
            </div>

            <div class="menu-search">
                <a href="../404.html">
                    <div class="menu-item">
                        <img class="menu-item-img" src="../../images/menu-search.png" alt="">
                    </div>
                </a>
            </div>
        </div>

        <div id="time-line" class="time-line">
            <div id="time-line_fill" class="time-line_fill">

            </div>
        </div>

        <div class="player">
            <div class="player-items">
                <a href="#">
                    <div class="player-item">
                        <img class="player-item-img player-select" src="../../images/main-sec2-poster_2.jpg" alt="">
                    </div>
                </a>

                <a href="#">
                    <div class="player-item">
                        <h3 id="player-item-title" class="player-item-title">Make Them Cry</h3>
                        <h4 id="player-item-caption" class="player-item-caption">Drake</h4>
                    </div>
                </a>
                <div class="player-item-container">
                    <a>
                        <div class="player-item">
                            <img id="previous" class="player-item-img prev-img" src="../../images/next-prev-icon.png"
                                alt="">
                        </div>
                    </a>
                    <a>
                        <div class="player-item">
                            <img id="play" class="player-item-img play-img" src="../../images/play-icon.png" alt="">
                        </div>
                    </a>
                    <a>
                        <div class="player-item">
                            <img id="next" class="player-item-img" src="../../images/next-prev-icon.png" alt="">
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <header class="header">
            <a id="back"><img class="header-icon" src="../../images/arrow-icon.png" alt=""></a>

            <div class="heder-section">
                <img class="header_img" src="../../images/main-sec2-poster_2.jpg" alt="">
                <div class=" header-text">
                    <h1 class="header-title">ICEMAN</h1>
                    <h2 class="header-caption">Drake</h2>
                </div>
            </div>
        </header>

        <main>
            <div class="main-navar">
                <div class="main-navar-left">
                    <img id="main-navar_like" class="main-navar_img" src="../../images/like.png" alt="">
                    <img class="main-navar_img" src="../../images/download.png" alt="">
                    <img class="main-navar_img" src="../../images/more.png" alt="">
                </div>
                <div class="main-navar-right">
                    <img id="repeat" class="main-navar_img" src="../../images/repeat-off.png" alt="">
                </div>
            </div>

            <div class="main-items">
                <div class="main-item">
                    <audio class="main-item_audio" src="../../audio/ICEMAN/_Drake-Make Them Cry_.mp3"></audio>
                    <h2 id="main-item_title" class="main-item_title">Make Them Cry</h2>
                    <div class="main-item_section">
                        <h3 id="main-item_caption" class="main-item_caption">Drake</h3>
                        <h3 class="main-item_duration">5:03</h3>
                    </div>
                </div>

                <div class="main-item">
                    <audio class="main-item_audio" src="../../audio/ICEMAN/_Drake-Dust_.mp3"></audio>
                    <h2 id="main-item_title" class="main-item_title">Dust</h2>
                    <div class="main-item_section">
                        <h3 id="main-item_caption" class="main-item_caption">Drake</h3>
                        <h3 class="main-item_duration">3:09</h3>
                    </div>
                </div>

                <div class="main-item">
                    <audio class="main-item_audio" src="../../audio/ICEMAN/_Drake-Whisper My Name_.mp3"></audio>
                    <h2 id="main-item_title" class="main-item_title">Whisper My Name</h2>
                    <div class="main-item_section">
                        <h3 id="main-item_caption" class="main-item_caption">Drake</h3>
                        <h3 class="main-item_duration">3:42</h3>
                    </div>
                </div>

                <div class="main-item">
                    <audio class="main-item_audio" src="../../audio/ICEMAN/_Drake-Janice STFU_.mp3"></audio>
                    <h2 id="main-item_title" class="main-item_title">Janice STFU</h2>
                    <div class="main-item_section">
                        <h3 id="main-item_caption" class="main-item_caption">Drake</h3>
                        <h3 class="main-item_duration">3:57</h3>
                    </div>
                </div>

                <div class="main-item">
                    <audio class="main-item_audio" src="../../audio/ICEMAN/_Drake-Ran To Atlanta_.mp3"></audio>
                    <h2 id="main-item_title" class="main-item_title">Ran To Atlanta</h2>
                    <div class="main-item_section">
                        <h3 id="main-item_caption" class="main-item_caption">Drake, Molly Santana</h3>
                        <h3 class="main-item_duration">4:07</h3>
                    </div>
                </div>

                <div class="main-item">
                    <audio class="main-item_audio" src="../../audio/ICEMAN/_Drake-Shabang_.mp3"></audio>
                    <h2 id="main-item_title" class="main-item_title">Shabang</h2>
                    <div class="main-item_section">
                        <h3 id="main-item_caption" class="main-item_caption">Drake</h3>
                        <h3 class="main-item_duration">3:08</h3>
                    </div>
                </div>

                <div class="main-item">
                    <audio class="main-item_audio" src="../../audio/ICEMAN/_Drake-Make Them Pay_.mp3"></audio>
                    <h2 id="main-item_title" class="main-item_title">Make Them Pay</h2>
                    <div class="main-item_section">
                        <h3 id="main-item_caption" class="main-item_caption">Drake</h3>
                        <h3 class="main-item_duration">5:01</h3>
                    </div>
                </div>

                <div class="main-item">
                    <audio class="main-item_audio" src="../../audio/ICEMAN/_Drake-Burning Bridges_.mp3"></audio>
                    <h2 id="main-item_title" class="main-item_title">Burning Bridges</h2>
                    <div class="main-item_section">
                        <h3 id="main-item_caption" class="main-item_caption">Drake</h3>
                        <h3 class="main-item_duration">3:46</h3>
                    </div>
                </div>

                <div class="main-item">
                    <audio class="main-item_audio" src="../../audio/ICEMAN/_Drake-National Treasures_.mp3"></audio>
                    <h2 id="main-item_title" class="main-item_title">National Treasures</h2>
                    <div class="main-item_section">
                        <h3 id="main-item_caption" class="main-item_caption">Drake</h3>
                        <h3 class="main-item_duration">3:20</h3>
                    </div>
                </div>

                <div class="main-item">
                    <audio class="main-item_audio" src="../../audio/ICEMAN/_Drake-B's On The Table_.mp3"></audio>
                    <h2 id="main-item_title" class="main-item_title">B's On The Table</h2>
                    <div class="main-item_section">
                        <h3 id="main-item_caption" class="main-item_caption">Drake, 21 Savage</h3>
                        <h3 class="main-item_duration">2:17</h3>
                    </div>
                </div>

                <div class="main-item">
                    <audio class="main-item_audio" src="../../audio/ICEMAN/_Drake-What Did I Miss_.mp3"></audio>
                    <h2 id="main-item_title" class="main-item_title">What Did I Miss</h2>
                    <div class="main-item_section">
                        <h3 id="main-item_caption" class="main-item_caption">Drake</h3>
                        <h3 class="main-item_duration">3:14</h3>
                    </div>
                </div>

                <div class="main-item">
                    <audio class="main-item_audio" src="../../audio/ICEMAN/_Drake-Plot Twist_.mp3"></audio>
                    <h2 id="main-item_title" class="main-item_title">Plot Twist</h2>
                    <div class="main-item_section">
                        <h3 id="main-item_caption" class="main-item_caption">Drake</h3>
                        <h3 class="main-item_duration">3:15</h3>
                    </div>
                </div>

                <div class="main-item">
                    <audio class="main-item_audio" src="../../audio/ICEMAN/_Drake-2 Hard 4 The Radio_.mp3"></audio>
                    <h2 id="main-item_title" class="main-item_title">2 Hard 4 The Radio</h2>
                    <div class="main-item_section">
                        <h3 id="main-item_caption" class="main-item_caption">Drake</h3>
                        <h3 class="main-item_duration">3:03</h3>
                    </div>
                </div>

                <div class="main-item">
                    <audio class="main-item_audio" src="../../audio/ICEMAN/_Drake-Make Them Remember_.mp3"></audio>
                    <h2 id="main-item_title" class="main-item_title">Make Them Remember</h2>
                    <div class="main-item_section">
                        <h3 id="main-item_caption" class="main-item_caption">Drake</h3>
                        <h3 class="main-item_duration">5:23</h3>
                    </div>
                </div>

                <div class="main-item">
                    <audio class="main-item_audio" src="../../audio/ICEMAN/_Drake-Little Birdie_.mp3"></audio>
                    <h2 id="main-item_title" class="main-item_title">Little Birdie</h2>
                    <div class="main-item_section">
                        <h3 id="main-item_caption" class="main-item_caption">Drake</h3>
                        <h3 class="main-item_duration">2:56</h3>
                    </div>
                </div>

                <div class="main-item">
                    <audio class="main-item_audio" src="../../audio/ICEMAN/_Drake-Don't Worry_.mp3"></audio>
                    <h2 id="main-item_title" class="main-item_title">Don't Worry</h2>
                    <div class="main-item_section">
                        <h3 id="main-item_caption" class="main-item_caption">Drake</h3>
                        <h3 class="main-item_duration">4:06</h3>
                    </div>
                </div>

                <div class="main-item">
                    <audio class="main-item_audio" src="../../audio/ICEMAN/_Drake-Firm Friends_.mp3"></audio>
                    <h2 id="main-item_title" class="main-item_title">Firm Friends</h2>
                    <div class="main-item_section">
                        <h3 id="main-item_caption" class="main-item_caption">Drake</h3>
                        <h3 class="main-item_duration">5:02</h3>
                    </div>
                </div>

                <div class="main-item">
                    <audio class="main-item_audio" src="../../audio/ICEMAN/_Drake-Make Them Know_.mp3"></audio>
                    <h2 id="main-item_title" class="main-item_title">Make Them Know</h2>
                    <div class="main-item_section">
                        <h3 id="main-item_caption" class="main-item_caption">Drake</h3>
                        <h3 class="main-item_duration">4:08</h3>
                    </div>
                </div>
            </div>
        </main>
    </div>

    <script type="text/javascript" src="../../js/player.js">

    </script>
</body>

</html>