<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Raad</title>
    <link rel="icon" href="../images/Logo.png" type="image/png">
    <link rel="stylesheet" href="../styles/reset.css">
    <link rel="stylesheet" href="../styles/mediaquery.css">
    <link rel="stylesheet" href="../styles/font.css">
    <link rel="stylesheet" href="../styles/404.css">

</head>

<body>
    <div class="container">
        <div class="menu">
            <div class="menu-items">
                <a href="../index.html">
                    <div class="menu-item menu-select">
                        <img class="menu-item-img" src="../images/menu-home.png" alt="">
                    </div>
                </a>
                <a href="./404.html">
                    <div class="menu-item">
                        <img class="menu-item-img" src="../images/menu-library.png" alt="">
                    </div>
                </a>
                <a href="./404.html">
                    <div class="menu-item">
                        <img class="menu-item-img" src="../images/menu-add.png" alt="">
                    </div>
                </a>
            </div>

            <div class="menu-search">
                <a href="./404.html">
                    <div class="menu-item">
                        <img class="menu-item-img" src="../images/menu-search.png" alt="">
                    </div>
                </a>
            </div>
        </div>
        <main class="main">
            <img class="main-img" src="../images/404.jpg" alt="">
            <h1 class="main-error">404</h1>
            <h2 class="main-caption">Did you really think there was something here?</h2>
        </main>
    </div>
</body>

</html>