<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Raad</title>
    <link rel="icon" href="../images/Logo.png" type="image/png">
    <link rel="stylesheet" href="../styles/reset.css">
    <link rel="stylesheet" href="../styles/mediaquery.css">
    <link rel="stylesheet" href="../styles/font.css">
    <link rel="stylesheet" href="../styles/auth.css">

</head>

<body>

    <div class="container">
        <main>
            <h2 class="title">Millions of songs Free on </h2>

            <a href="../index.html">
                <h1 class="logo">Raad</h1>
            </a>

            <div class="btns">
                <a href="./signup.html">
                    <div class="btn Sbtn">
                        <p class="btn-text">Sign up</p>
                    </div>
                </a>
                <a href="">
                    <div class="btn">
                        <img class="btn-img" src="../images/Auth/google.png" alt="">
                        <p class="btn-text">Continue with Google</p>
                    </div>
                </a>
                <a href="">
                    <div class="btn">
                        <img class="btn-img" src="../images/Auth/facebook.png" alt="">
                        <p class="btn-text">Continue with Facebook</p>
                    </div>
                </a>
                <a href="">
                    <div class="btn">
                        <img class="btn-img" src="../images/Auth/apple.png" alt="">
                        <p class="btn-text">Continue with Apple</p>
                    </div>
                </a>
                <a href="./login.html">
                    <div class="btn Lbtn">
                        <img class="btn-img" src="" alt="">
                        <p class="btn-text">Login in</p>
                    </div>
                </a>
            </div>
        </main>
    </div>

    <script type="text/javascript" src="../js/auth.js">

    </script>
</body>

</html>