<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Raad</title>
    <link rel="icon" href="../images/Logo.png" type="image/png">
    <link rel="stylesheet" href="../styles/reset.css">
    <link rel="stylesheet" href="../styles/mediaquery.css">
    <link rel="stylesheet" href="../styles/font.css">
    <link rel="stylesheet" href="../styles/profile.css">
</head>

<body>

    <div class="container">
        <div class="menu">
            <div class="menu-items">
                <a href="../index.html">
                    <div class="menu-item menu-select">
                        <img class="menu-item-img" src="../images/menu-home.png" alt="">
                    </div>
                </a>
                <a href="../pages/404.html">
                    <div class="menu-item">
                        <img class="menu-item-img" src="../images/menu-library.png" alt="">
                    </div>
                </a>
                <a href="../pages/404.html">
                    <div class="menu-item">
                        <img class="menu-item-img" src="../images/menu-add.png" alt="">
                    </div>
                </a>
            </div>

            <div class="menu-search">
                <a href="#">
                    <div class="menu-item">
                        <img class="menu-item-img" src="../images/menu-search.png" alt="">
                    </div>
                </a>
            </div>
        </div>

        <header class="header">
            <div class="header-section">
                <h1 class="header-title">Welcome <span id="userName"></span></h1>

                <div class="header-card">
                    <div class="header-link">
                        <img class="header-card_img" src="../images/header-profile.png" alt="">
                    </div>
                    <a class="header-card_btn" href="">Edit Profile</a>
                </div>
            </div>
        </header>

        <main>
            <div class="main-container">
                <div class="main-items">
                    <h3 class="text-item">Manage Subscription</h3>
                    <img class="icon-item" src="../images/arrow-icon.png" alt="">
                </div>
                <div class="main-items">
                    <h3 class="text-item">Languages</h3>
                    <img class="icon-item" src="../images/arrow-icon.png" alt="">
                </div>
                <div class="main-items">
                    <h3 class="text-item">Devices</h3>
                    <img class="icon-item" src="../images/arrow-icon.png" alt="">
                </div>
                <div class="main-items">
                    <h3 class="text-item">Storage</h3>
                    <img class="icon-item" src="../images/arrow-icon.png" alt="">
                </div>
                <div class="main-items">
                    <h3 class="text-item">Audio Quality</h3>
                    <img class="icon-item" src="../images/arrow-icon.png" alt="">
                </div>
                <div class="main-items">
                    <h3 id="logout" class="text-item exit-item">Exit</h3>
                    <img class="icon-item" src="../images/arrow-icon.png" alt="">
                </div>
            </div>
        </main>
    </div>

    <script type="text/javascript" src="../js/profile.js">

    </script>
</body>

</html>